@import "./utilities/_variables.scss";
@import "./utilities/_mixins.scss";
@import "./scss/base/reset";
@import "./scss/base/layout/header.scss";
@import "./scss/base/layout/footer.scss";
@import "./scss/base/layout/mainemp.scss";
@import "./scss/base/layout/mainnosotros.scss";
@import "./scss/base/layout/mainpizzas.scss";
@import "./scss/base/layout/media730";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body {
    font-family: 'Poppins' , sans-serif;
}

.header{
    background-image: url(./assets/img/black\ &\ yello\ wallpaper.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 80px 0 0 0;
    .header-content{
        display: flex;
    }
}
.header-txt{
    width: 50%;
}
.header-txt h1{
    font-size: 60px;
    line-height: 85px;
    color: rgb(255, 0, 0);
}
.header-txt span{
    font-size: 65px;
    color: $secondary-color;
}
.header-img img{
    width: 600px;
    height: 500px;
    padding: 50px 20px 0 200px ;
    background: opacity($color: #000000);
}
.header-img{
    width: 50%;
    text-align: center;
}
.parrafo{
    color: white;
    padding: 20px;
}
.btn-1{
    display: inline-block;
    border: 3px solid;
    border-radius: 15px;
    margin-left: 20px;
    padding: 11px 35px;
    background-color: $secondary-color;
    color: black;
    text-transform: uppercase;
}
.btn-1:hover{
    color: red;
}
.menu-pl{
    padding: 0 0 100px 0;
}
.h2{
    font-size: 50px;
    color: black;
    margin-bottom: 40px;
}
span{
    color: red
}

.negro{
    background-color: #000000;
}

h3{
    color:black;
    font-size: 20px;
    margin-bottom: 15px;
}
.servicios{
    background-image: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)),
        url(./assets/img/fondo-header.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
    }

.servicio-content{
    text-align: center;
    .servicio-1{
        padding: 0 100px;
    
    }
    .servicio-1 img{
        width: 25px;
        margin-bottom: 15px;
    }
    .servicio-1 h3{
        color: aliceblue;
        font-size: 18px;
    }
}
.servicio-content h2{
    font-size: 55px;
    line-height: 70px;
    color: yellow;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.cards{
    width: 30%;
    height: 450px;
    background-color: orange;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .card__btn{
    color: black;
    background-color: aliceblue;
    text-decoration: none;
    padding: 10px 30px;
    width: 10%;
    display: block;
    text-transform: capitalize;
}
}
h2{
    color: white;
}
.card__btn:hover{
    color: yellow;
}
.titulo{
    color: $secondary-color;
}